<% if flash[:notice] %>
	<%= flash[:notice] %>
	<% elsif flash[:alert] %>
		<%= flash[:alert] %>
<% end %>

<h1>
	<%= @project.name %>
</h1>
<ul> <% @entries.each do |entry| %>
		<li>
			<%= entry.hours %>
			<%= entry.minutes %>
			<%= entry.date %>
			<%= link_to('Edit', edit_project_entry_path(@project, entry)) %>
			· <%= link_to('Delete', project_entry_path(@project, entry), method: :delete, data: { confirm: 'Are you sure?'} ) %>
		</li>
	<% end %>
</ul>

<%= link_to('projects', projects_path) %>
<br/>
<%= link_to('new entry', new_project_entry_path(@project)) %>
