<%= flash_message %>

<h1>
	<%= @project.name %>
</h1>
<ul> <% @entries.each do |entry| %>
		<%= render 'entry_list_element', entry_list_element: entry %>
	<% end %>
</ul>

<%= link_to('projects', projects_path) %>
<br/>
<%= link_to('new entry', new_project_entry_path(@project)) %>
